<div class="container">
    <br>
    <div class="center wow fadeInDown">
            <h2>Search</h2>
        <hr />
    <div class="row">
        <form class="form-inline">
            <div class="form-group pull-left">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input ng-model="name" type="text" class="form-control" id="search" placeholder="Need to find someone?">
                </div>
                <button ng-click="model.find(name)" type="submit" class="btn btn-primary">Search</button>
            </div>

        </form>

    </div>
            <hr />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table ng-if="model.search" class="table table-stripped" >
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>Display</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in model.users">
                        <td class="posts">
                            {{person.firstName}}
                        </td>
                        <td class="posts">
                            {{person.lastName}}
                        </td>
                        <td class="posts">
                            {{person.userName}}
                        </td>
                        <td>
                            <a href="#/user/{{user._id}}/userProfile/{{person._id}}">
                                <img class="messagepic" src="images/blog/avatar3.png" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
