<div class="container" ng-init="init()">
    <div class="row">
        <h2 align="center">Recent Ads</h2>
        <hr />
        <!--<table class="table table-stripped">
            <thead>
                <tr>
                    <th>PostedBy</th>
                    <th>PostedOn</th>
                    <th>Location</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ad in model.ads || '-postedOn'">
                    <td class="posts">{{ad.postedBy}}</td>
                    <td class="posts">{{ad.postedOn}}</td>
                    <td class="posts">{{ad.address}}</td>
                    <td class="posts">{{ad.from}}</td>
                    <td class="posts">{{ad.to}}</td>
                    <td class="posts">{{ad.details}}</td>
                </tr>
            </tbody>
        </table>-->
    </div>
</div>