<div class="container" ng-init="init()">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <img class="profile" src="../../../../project/client/images/person.jpg" />
                <p class="networkname">{{model.name}}</p>
            </div>
            <div class="col-sm-9 col-md-9">
                <ul class="nav nav-pills">
                    <li class="subnav active"><a href="#/myprofile">MyPage</a></li>
                    <li class="subnav"><a href="#/upload">CreatePost</a></li>
                    <li class="subnav"><a href="#/message">My Messages</a></li>
                    <li class="subnav"><a href="#/network">Network</a></li>
                    <li class="subnav"><a href="#/find">Find</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 align="center">Recent Posts</h2>
            <table class="table table-stripped">
                <tr ng-repeat="post in model.posts | orderBy:'-created'">
                    <td class="posts">
                        {{post.content}}
                    </td>
                    <td>
                        <button ng-click="model.removePost($index)" class="btn btn-default btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="!model.user">
        <h1>Login <a href="#/login">HERE</a> to access</h1>
    </div>
</div>
