<div class="container">
    <br />
    <div class="center">        
        <h2>Register</h2>
    </div> 
    <div class="row contact-wrap"> 
        <div class="status alert alert-success" style="display: none"></div>
        <form id="main-contact-form" class="contact-form">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">
                    <label for="fname">FirstName:</label>
                    <input ng-model="fname" type="text" class="form-control" id="fname" placeholder="Jane" required="required">
                </div>
                <div class="form-group">
                    <label for="lname">LastName:</label>
                    <input ng-model="lname" type="text" class="form-control" id="lname" placeholder="Doe" required="required">
                </div>
                <div class="form-group">
                    <label for="uname">UserName:</label>
                    <input ng-model="uname" type="text" class="form-control" id="uname" placeholder="janedoe" required="required">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input ng-model="email" type="email" class="form-control" id="email" placeholder="abc@xyz.com" required="required">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input ng-model="password" type="password" class="form-control" id="pwd" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <label for="vpwd">Verify Password:</label>
                    <input ng-model="vpassword" type="password" class="form-control" id="vpwd" placeholder="Verify Password" required="required">
                </div>                        
            </div>
            <div class="col-sm-5">                       
                <div class="form-group">
                    <button ng-click="model.register(uname,password,vpassword,email,fname,lname)" type="submit" name="submit" class="btn btn-primary btn-lg" required="required">MakeMeAMember</button>
                </div>
            </div>
        </form> 
    </div>
</div>