<div class="container">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <br>
                <img src="images/blog/avatar3.png" />
            </div>
            
             <br>
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default" href="#/user/{{model.uid}}/userProfile/{{model.pid}}">UserProfile</a></li>
                <li ng-if="!model.self"><a class="btn btn-default active" href="#/user/{{model.uid}}/chat/{{model.pid}}">Chat</a></li>
                <li><a class="btn btn-default" href="#/find" >Find</a></li>
            </ul>
        </div>
        
        
        <div class="center wow fadeInDown">
            <br>
            <h2>Chat</h2>
            <form class="form-horizontal">
                <input ng-model="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                <textarea ng-model="message" rows="5" class="form-control" id="message" placeholder="Enter the message here" maxlength="200"></textarea>
                <button ng-click="model.send(subject,message)" type="submit" class="btn btn-primary btn-lg">Send!</button>
            </form>
        </div>
    </div>
    <div ng-show="!model.user">
        <h1>Login <a href="#/login">HERE</a> to access</h1>
    </div>
</div>
