<div class="container" ng-init="init()">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <img class="profile" src="../../../../project/client/images/person.jpg" />
            </div>
            <div class="col-sm-9 col-md-9">
                <ul class="nav nav-pills">
                    <li class="subnav"><a href="#/myprofile">MyPage</a></li>
                    <li class="subnav active"><a href="#/upload">CreatePost</a></li>
                    <li class="subnav"><a href="#/message">My Messages</a></li>
                    <li class="subnav"><a href="#/network">Network</a></li>
                    <li class="subnav"><a href="#/find">Find</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <hr />
                <h2 align="center">
                    Status
                </h2>
                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">Write Status:</label>
                    <div class="col-sm-10">
                        <textarea ng-model="status" rows="1" class="form-control" id="status" placeholder="Enter the status here" maxlength="500"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="model.add(status)" type="submit" class="btn btn-default">Add this status</button>
                    </div>
                </div>
                <hr />
            </form>
            <form class="form-horizontal">
                <h2 align="center">
                    PostAd
                </h2>
                <div class="form-group">
                    <label for="sd" class="col-sm-2 control-label">From:</label>
                    <div class="col-sm-10">
                        <input id="sd" type="date" ng-model="startDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ed" class="col-sm-2 control-label">To:</label>
                    <div class="col-sm-10">
                        <input id="ed" type="date" ng-model="endDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="adress" class="col-sm-2 control-label">Address:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="Address" class="form-control" placeholder="Street, #, City, State, PinCode" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="details" class="col-sm-2 control-label">Details:</label>
                    <div class="col-sm-10">
                        <textarea ng-model="details" rows="1" class="form-control" id="details" placeholder="Enter additional here" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="model.postAd(startDate,endDate,Address,details)" type="submit" class="btn btn-default">PostAd</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="!model.user">
        <h1>Login <a href="#/login">HERE</a> to access</h1>
    </div>
</div>
