<div class="container" ng-init="init()">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <br>
                <img src="images/blog/avatar3.png" />
                <h4>{{model.username}}</h4>
            </div>
            
            <br>
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#/user/{{model.userid}}/userProfile/{{model.personid}}">UserProfile</a></li>
                <li ng-if="!model.self"><a class="btn btn-default" href="#/user/{{model.userid}}/chat/{{model.personid}}">Chat</a></li>
                <li><a class="btn btn-default" href="#/find" >Find</a></li>
            </ul>
            
        </div>
        
        <div class="pull-left">
            <button ng-show="!model.self && !model.isFriend" ng-click="model.addFriend()" align="right" type="submit" class="btn btn-primary btn-lg">Add User to my Network</button>
            <button ng-show="!model.self && model.isFriend" ng-click="model.removeFriend()" align="right" type="submit" class="btn btn-primary btn-lg">Remove From Network</button>
            
            </div>
        
        <div class="center wow fadeInDown">
            <br>
            <h2>Recent Posts</h2>
            <h3 ng-if="!model.self && !model.isFriend">
                Add user to your network to see the recent posts
            </h3>
            <table ng-if="model.self || model.isFriend" class="table table-stripped">
                <tr ng-repeat="post in model.posts | orderBy:'-created'">
                    <td class="lead">
                        {{post.content}}
                    </td>
                </tr>
            </table>
        </div>    
    </div>
    <div ng-show="!model.user">
        <h2>Login <a href="#/login">HERE</a> to access</h2>
    </div>
</div>
