  <div class="container" ng-init="init()">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <br>
                <img src="images/blog/avatar3.png" />
            </div>
            <br>
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default" href="#/myprofile">My Page</a></li>
                <li><a class="btn btn-default" href="#/upload">Create Post</a></li>
                <li><a class="btn btn-default active" href="#/message">My Messages</a></li>
                <li><a class="btn btn-default" href="#/network" >Network</a></li>
                <li><a class="btn btn-default" href="#/find" >Find</a></li>
            </ul>
        </div>
        
        <div class="center wow fadeInDown">
            <h2 align="center">My Messages</h2>
            <hr />


            <div ng-show="model.all" ng-repeat="msg in model.msgs | unique:'from'">
                <div class="single_comments">
                    <div class="entry-meta small muted pull-left">
                        <img src="images/blog/avatar3.png" alt="" />
                        <span>From: <a href="#/user/{{model.userid}}/userProfile/{{msg.from}}">{{msg.fromUser}}</a></span>
                        <br />
                        <span>On: {{msg.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                    </div>
                </div>

                <div class="entry-meta small muted pull-right">
                    <button ng-click="model.chat(msg.from)" type="submit" class="btn btn-default">Reply</button>
                    <button ng-click="model.getthread(msg.from)" type="submit" class="btn btn-default">Thread</button>
                    <button ng-click="model.removeMsg($index)" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

                <div class="single_comments">
                    <div class="entry-meta small muted">
                        <span>Subject: {{msg.subject}}</span>
                    </div>
                    <p>{{msg.content}}</p>
                </div>
                <div class="row"></div>
                <hr />
            </div>
            <div ng-show="!model.all" ng-repeat="t in model.thread">
                <div class="entry-meta small muted pull-left">
                    <span>From: <a href="#/user/{{model.userid}}/userProfile/{{t.from}}">{{t.fromUser}}</a></span>
                    <br />
                    <span>On: {{t.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                </div>
                <div class="entry-meta small muted pull-right">
                    <span ng-if="t.from == model.userid">Sent</span>
                    <span ng-if="t.from != model.userid">Received</span>
                </div>
                <h4 class="lead">{{t.content}}</h4>
                <hr />
            </div>
            <div ng-show="!model.all" class="container">
                <button ng-click="model.getall()" type="submit" class="btn btn-default">SeeAll</button>
            </div>
        </div>
    </div>
    <div ng-show="!model.user">
        <h2>Login <a href="#/login">HERE</a> to access</h2>
    </div>
</div>
