<div class="container" ng-init="init()">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <br>
                <img src="images/blog/avatar3.png" />
            </div>
            <br>
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default" href="#/myprofile">My Page</a></li>
                <li><a class="btn btn-default" href="#/upload">Create Post</a></li>
                <li><a class="btn btn-default" href="#/message">My Messages</a></li>
                <li><a class="btn btn-default active" href="#/network" >Network</a></li>
                <li><a class="btn btn-default" href="#/find" >Find</a></li>
            </ul>
        </div>
        
        <div class="team">
				<div class="center wow fadeInDown">
					<h2>My Network</h2>
				</div>

				<div ng-repeat="friend in model.friends" class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#/user/{{user._id}}/userProfile/{{friend.person}}"><img class="media-object" src="images/blog/avatar3.png" alt=""></a>
								</div>
								<div class="media-body">
									<h4>{{friend.firstName}} &nbsp; {{friend.lastName}}</h4>
								</div>
							</div>
					   </div>
				    </div>
			     </div>
        </div>
    </div>
    <div ng-show="!model.user">
        <h2>Login <a href="#/login">HERE</a> to access</h2>
    </div>
</div>
