<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <img class="profile" src="../../../../project/client/images/person.jpg" />
        </div>
        <div class="col-sm-9 col-md-9">
            <ul class="nav nav-pills">
                <li class="subnav"><a href="#/myprofile">MyPage</a></li>
                <li class="subnav"><a href="#/upload">Upload</a></li>
                <li class="subnav"><a href="#/message">My Messages</a></li>
                <li class="subnav active"><a href="#/network">Network</a></li>
                <li class="subnav"><a href="#/find">Find</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h2 align="center"> My Network</h2>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>User</th>
                <th>Display</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="friend in model.friends">
                <td class="networkname">{{friend.firstName}} &nbsp; {{friend.lastName}}</td>
                <td>
                    <a href="#/user/{{user._id}}/userProfile/{{friend.person}}">
                        <img class="networkimg" src="../../../../project/client/images/person.jpg" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
