<div class="container">
    <h4 align="center" id="imgdesc">
        Click on the SocialConenct logo to get the latest news about Syrian Refugees!!
    </h4>
    <div class="row" align="center">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row" align="center">
                <img class="descimg" src="../../../../project/client/images/refugee.jpg" />
            </div>
            <div class="row" align="center">
                <h2 class="imgtag">
                    Refugee?
                </h2>
            </div>
            <div class="row" align="center">
                <h3 class="imgdesc">
                    We help refugees find hosts where they can live at ease and also help their families connect with them
                </h3>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row" align="center">
                <img class="descimg" src="../../../../project/client/images/studentexchange.jpg" />
            </div>
            <div class="row" align="center">
                <h2 class="imgtag">
                    Student Exchange?
                </h2>
            </div>
            <div class="row" align="center">
                <h3 class="imgdesc">
                    We help students going on exchange programs look for homes they can live in at ease while helping their families stay in touch with them
                </h3>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row" align="center">
                <img class="descimg" src="../../../../project/client/images/orphanage.jpg" />
            </div>
            <div class="row" align="center">
                <h2 class="imgtag">
                    Orphanage?
                </h2>
            </div>
            <div class="row" align="center">
                <h3 class="imgdesc">
                    We help orphanages keep a tab on the well being of the child that has been adopted
                </h3>
            </div>
        </div>
    </div>
    <div class="row" align="center">
        <h2 id="last">
            Register now to let us help you or help us help someone in need :)
        </h2>
    </div>
</div>