<div class="container" ng-init="init()">
    <div ng-show="model.user">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <br>
                <img src="images/blog/avatar3.png" />
            </div>
            <div class="col-sm-9 col-md-9">
                <br>
                <ul class="portfolio-filter text-center">
                    <li><a class="btn btn-default" href="#/myprofile">My Page</a></li>
                    <li><a class="btn btn-default active" href="#/upload">Create Post</a></li>
                    <li><a class="btn btn-default" href="#/message">My Messages</a></li>
                    <li><a class="btn btn-default" href="#/network" >Network</a></li>
                    <li><a class="btn btn-default" href="#/find" >Find</a></li>
                </ul>
            </div>
        </div>
         <div class="row contact-wrap"> 
             <div class="center">
                <h2>Status</h2>
             </div> 
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form">
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="form-group">
                        <label for="status">Write Status:</label>
                        <textarea ng-model="status" rows="1" class="form-control" id="status" placeholder="Enter the status here" maxlength="500"></textarea>
                    </div>   
                    <div class="form-group">
                        <button ng-click="model.add(status)" type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Add this to my Page</button>
                    </div>                    
                </div>
            </form>
         </div>
         
         <div class="row contact-wrap"> 
             <div class="center">
                <h2>Ad</h2>
             </div> 
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form">
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="form-group">
                        <label for="sd">From:</label>
                        <input ng-model="startDate" type="date" id="sd" class="form-control" required="required">
                    </div> 
                    <div class="form-group">
                        <label for="ed">To:</label>
                        <input ng-model="endDate" type="date" id="ed" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input ng-model="Address" type="text" placeholder="Street, #, City, State, PinCode" id="address" class="form-control" required="required">
                    </div> 
                    <div class="form-group">
                        <label for="details">Details:</label>
                        <textarea ng-model="details" rows="1" class="form-control" id="details" placeholder="Enter additional here" maxlength="200"></textarea>
                    </div>    
                    <div class="form-group">
                        <button ng-click="model.postAd(startDate,endDate,Address,details)" type="submit" name="submit" class="btn btn-primary btn-lg" required="required">PostAd</button>
                    </div>                    
                </div>
            </form>
         </div>
    </div>
    <div ng-show="!model.user">
        <h2>Login <a href="#/login">HERE</a> to access</h2>
    </div>
</div>
