body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.navHeader {
    font-size:40px;
    color:dimgray;
    font-weight:bold;
}

.divider {
    font-size:30px;
    color:dimgray;
    font-weight:bold;
}

.title {
    font-size: 15px;
    font-weight:bold;
}

.subnav {
    font-size:20px;
    font-weight:bold;
    color: red;
}

#subheading {
    color:red;
    font-family:'Monotype Corsiva';
    font-size:30px;
}

.descimg {
    width:350px;
    height:250px;
    outline-style:groove;
}

.imgtag{
    font-size:40px;
    font-style:italic;
    font-family:'Monotype Corsiva';
    font-weight:bold;
    color:red;
}

.imgdesc{
    font-size:20px;
    color:black;
}

#last {
    font-size:40px;
    font-style:italic;
    font-family:'Monotype Corsiva';
    font-weight:bold;
    color:red;
    align-content:center;
}

.profile {
    width:100px;
    height:100px;
    outline-style:groove;
}

.posts {
    font-size:20px;
    color:black;
    font-family:'Monotype Corsiva';
}

.messagepic {
    width:75px;
    height:75px;
    outline-style:groove;
}

.messages {
    font-size:15px;
    color:black;
}

.networkimg {
    width:75px;
    height:75px;
    outline-style:groove;
}

.networkname {
    font-size:20px;
    color:crimson;
}